* {
    margin: 0;
}

.registerConatiner {
    width: 100vw;
    height: 92.4vh;
    background-image: url(../../../public/img/Register-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerCard {
    width: 420px;
    height: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.registerCard .register-title {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 7px #636462;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.registerForm {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.registerForm input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    color: black;
    border-radius: 5px;
    border: none;
}

.registerForm button {
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    background-color: #54C9FF;
    color: white;
}

.registerForm button:hover{
    background-color: #33baf8;
    cursor: pointer;
}

.registerForm a {
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    color: #F67333;
}

.registerForm a:hover {
    font-weight: normal;
    color: white;
    cursor: pointer;
}